@import url('https://fonts.googleapis.com/css?family=font_lato');


*{
    /* La propiedad border-box recalcula el ancho de una caja para que el width sea la estrictamente la suma de border + padding + ancho o altura que sea necesario para que se cumpla. 
    BORDER-BOX NO INCLUYE LOS MÁRGENES! */
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: 'lato_light';
    src: url('https://fonts.googleapis.com/css/estilos.css/font_lato.ttf') format('truetype'); /* Ruta a tu archivo de fuente */
}
/* Style the body */




body {
    font-family: 'Lato';
    margin: 0;
    padding: 0;
    background-color:#E1E3DB;
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center;     /* Centrado vertical */
    min-height: 100vh;       /* Asegura que el body ocupe al menos el 100% de la altura de la ventana */
    text-align: center;
    color: #f1e5d7;
}

/* Contenedor principal */
.main-container {
    max-width: 1400px;
    width: 100%;
    padding: 0px;
}
.main {
    
    display: flex 70%;
    background-color: rgba(249, 247, 245, 0.839);
    padding: 20px;
    font-family:'lato';
    font-size: 20px;
    color: rgba(13, 13, 12, 0.635);
}

/* Header/logo Title */
h1{

    color:#70160E;
}

 h2{
    color:#AB793E;
}
#AB793E
#161917
#E1E3DB
#70160E

/* Style the top navigation bar */


.hero-image {
        background-image: url(""); /* Cambia 'ruta_de_tu_imagen.jpg' por la ruta de tu imagen */
        
        
            position: relative;
            width: 100%;
            height: 100vh; /* 100% de la altura de la ventana */
            overflow: hidden;
            
        }
    
header {
    position:relative;
    width: 100%;
    display: flex;
    max-width: 1200px;
    background-color:transparent;
    
     /* Asegúrate de que el menú esté por encima de la imagen */
}

nav  {
    position: absolute; /* Posición absoluta para superponer el nav */
    top: 0;
    left: 0;
    width: 100%;; /* Fondo semi-transparente */
    
    padding: 10px 0;
    z-index: 10; /* Asegura que el nav esté por encima de la imagen */
        
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 50px;
    display: flex;
    
}

nav ul li {
    display: flex;
    display:inline-block;
    font-family:'lato';
    font-size: 30px;
    margin:10px;
    padding-top: 20px;
    
    
    
}

nav ul li a {
    color:#ede3d6;
    text-decoration: none;
    
    
}
a:hover {
    
    color: rgb(11, 11, 11);
}




/* Change color on hover */
.navbar a:hover {
    background-color: #e28f3c;
    color: black;
}
 

/* Column container */
.row {
    display: flex;
    flex-wrap: wrap;
    background-color: #162dda; 
    margin: 0px;
    padding-right:  40px;
}
img {
    max-width: 100%; /* La imagen no excederá el ancho del contenedor */
    height: auto; /* Altura ajustada automáticamente */
    object-fit: cover;
    border: transparent; /* Borde de la imagen (opcional) */
    /* Borde de la imagen (opcional) */
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 10%;
    background-color: #f6f1f1;
    padding: 10px;
}

/* Main column */

.slider {
    position:relative;
    width: 90%;
    margin: auto;
    margin-top: 40px;
    overflow: hidden;
    padding-left:30px;
    padding-right: 20px;
}

.slider ul {
    display: flex;
    padding: 20px;
    width: 400%;

    animation: cambio 20s infinite alternate linear;
}

.slider li {
    width: 100%;
    list-style: none;
    
}

.slider img {
    width: 90%;

}
.container{
    font-family: 'font_lato';
    border: 1px solid #f9c2c2;
    border-radius: 14px;
    color:  #70160E;
    padding: 50px;



}

@keyframes cambio {
    0% {
        margin-left: 0;
    }


    22% {
        margin-left: -100%;
    }



    44% {
        margin-left: -200%;
    }
    

    66% {
        margin-left: -300%;
    }

}
@keyframes show{
    from{
    opacity: 0;
    scale:25%;
}
to{
opacity: 1;
scale: 100%;
}
img{
view-timeline-name: --image;
view-timeline-axis: block;
animation-timeline: --image;
animation-name: show;

animation-range: entry 25% cover 50%;
animation-fill-mode: both;

}
}
    

.fakeimg {
    background-color: #f2f2ed90;
    width: 30%;
    padding: 20px;
    
}

/* Footer */
.footer {
    padding: 80px 20px 10px ;
    text-align: center;
    background:black;
    color:#AB793E;
}

.red-social{
color: #f5f1f1;
background-color:rgb(13, 12, 12) ;
position: relative;
text-align: center;
padding-bottom: 50px;
}

.red-social a:hover {

    color: #AB793E;

    

}



.red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: rgb(15, 14, 14);
    text-align: center;
    transition: all 300ms ease;
}

.grupo2 small{
    position: relative;
    color:#AB793E;

}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 700px) {
    .row,
    .nav{
        flex-direction: column; /*Cambio de horizontal a vertical en ambas clases*/
    }
}