@import url('https://fonts.googleapis.com/css?family=Proxima+Nova|Open+Sans|Roboto');


*{
    /* La propiedad border-box recalcula el ancho de una caja para que el width sea la estrictamente la suma de border + padding + ancho o altura que sea necesario para que se cumpla. 
    BORDER-BOX NO INCLUYE LOS MÁRGENES! */
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Arial, sans-serif !important;
    margin:0;
    padding:0;
    background-color: #090909;
}

/* Header/logo Title */
.header img {
    padding: 0px;
    text-align: center;
    color: rgb(9, 8, 8);
    max-width: auto;
    position: relative;

}
 h2{
    color: orange;
}

/* Style the top navigation bar */
.header{
background: image 100%; ;


}
.navbar {
    display: flex;
    background-color:rgba(7, 7, 7, 0.938);
}

/* Style the navigation bar links */
.navbar a {
    color: white;
    padding: 50px 20px 50px 20px;
    text-decoration: none;
    text-align-last: 20px;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #efdbdb;
    color: black;
}

/* Column container */
.row {
    display: flex;
    flex-wrap: wrap;
    background-color: #1b2da0; 
    margin: 10px;
}
img {
    max-width: 100%; /* La imagen no excederá el ancho del contenedor */
    height: auto; /* Altura ajustada automáticamente */
    border: 1px solid #090909; /* Borde de la imagen (opcional) */
}
/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 30%;
    background-color: #e9e1e1;
    padding: 10px;
}

/* Main column */
.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}
.slider {
    position: relative;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    overflow: hidden;
    padding-left:30px;
    padding-right: 20px;
}

.slider ul {
    display: flex;
    padding: 20px;
    width: 400%;

    animation: cambio 20s infinite alternate linear;
}

.slider li {
    width: 100%;
    list-style: none;
    
}

.slider img {
    width: 100%;

}


@keyframes cambio {
    0% {
        margin-left: 0;
    }


    22% {
        margin-left: -100%;
    }



    44% {
        margin-left: -200%;
    }
    

    66% {
        margin-left: -300%;
    }

}

    



.fakeimg {
    background-color: #e5e2e2;
    width: 100%;
    padding: 20px;
}

/* Footer */
.footer {
    padding: 80px 20px 10px ;
    text-align: center;
    background:black;
    color:#efa938 ;
}
.red-social{
color: #f5f1f1;
background-color:rgb(10, 10, 10) ;
position: relative;
text-align: center;
padding-bottom: 50px;
}

.red-social a:hover {
    color: rgb(235, 93, 93);
}



.red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: rgb(9, 9, 9);
    text-align: center;
    transition: all 300ms ease;
}




/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 700px) {
    .row,
    .navbar {
        flex-direction: column; /*Cambio de horizontal a vertical en ambas clases*/
    }
}